<div class="container-fluid background vh-500 ">
      <app-navbar></app-navbar>
  <div class="row me-3 ms-3">
    <div class="col-8 table-responsive mt-5">
        <div class="row">
        <div class="col-12 p-0 ">
          <div class="mb-3 ">
            <a href="/nuevo"><button class="btn btn-info btn-lg">Nuevo Registro</button></a>
          </div>
        </div>
        <div class="col-12 bg-info rounded-top">
        <div class="row ">
          <div class="col p-0 ms-3">
            <p class="fw-bold fs-3">Información del Cliente</p>
          </div>
          <div class="col-auto mt-2">
            <button class="btn btn-danger me-2" (click)="openPDF()">Exportar PDF</button>
            <button class="btn btn-success" (click)="download()">Exportar Excel</button>
          </div>
          </div>
          </div>
          <div class="container-grafica">
          <table border="1" class="table table-light table-bordered table-hover ps-2 pe-2" id="htmlData">
          <thead class="table-secondary">
            <tr>
                <th>Cliente</th>
                <th>Nombre/Apellidos</th>
                <th>Telófono</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th>Código Postal</th>
                <th>Acciones</th>
              </tr>
          </thead>
            <tbody>
              <tr *ngFor="let client of clients; let i = index" class="row-selected" (click)="obtenerdatos(client)">
                <td>{{ i }}</td>
                <td>{{ client.nombre }}</td>
                <td>{{ client.telefono }}</td>
                <td>{{ client.correo }}</td>
                <td>{{ client.estado }}</td>
                <td>{{ client.municipio }}</td>
                <td>{{ client.cp }}</td>
                <td>
                  <a href="editar/{{ i }}" ><button class="btn btn-success btn-lg">Editar</button></a>
                  <br>
                  <button class="btn btn-success btn-lg" (click)="open(content,i)">Eliminar</button>
                  <br>
                  <button class="btn btn-success btn-lg" (click)="mostrarUbicacion(client)">Buscar</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
    </div>
    <div class="col" style="margin-top: 6rem;">
      <google-map width="450" height="800"
            [center]="center"
            [zoom]="zoom">
            <map-marker *ngFor="let ubi of latin" [position]="ubi" [label]="label" [title]="title"></map-marker>
</google-map>
    </div>
  </div>
</div>


  <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Alerta de Eliminación</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Esta seguro que quiere Eliminar de forma permanente este cliente</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Eliminar</button>
	</div>
</ng-template>

<script>
$(function(){
  $('tr').click(function(e){
    console.log("hola")
    if($(this).hasClass('row-selected')){
      $(this).addClass('other-clic')
    }else{
      cleanTr()
      $(this).addClass('row-selected')
    }
  })
  
  
  function cleanTr(){
    $('.row-selected').each(function(index, element){
      $(element).removeClass('row-selected')
      $(element).removeClass('other-clic')
    })
  }
})

</script>
