<div class="container-fluid">
      <app-navbar></app-navbar>
  <div class="row">
    <div class="col-6 mt-5 mb-4">
      <a href="/nuevo"><button>Nuevo Registro</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-7 me-5 ms-2 table-responsive">
          <table class="table">
          <thead>
            <tr>
                <th>Cliente</th>
                <th>Nombre/Apellidos</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th>Codigo Postal</th>
                <th>Acciones</th>
              </tr>
          </thead>
            <tbody>
              <tr *ngFor="let client of clients; let i = index">
                <td>{{ i }}</td>
                <td>{{ client.nombre }}</td>
                <td>{{ client.telefono }}</td>
                <td>{{ client.correo }}</td>
                <td>{{ client.estado }}</td>
                <td>{{ client.municipio }}</td>
                <td>{{ client.cp }}</td>
                <td>
                  <a href="editar/{{ i }}" ><button class="btn btn-success btn-lg">Editar</button></a>
                  <br>
                  <button class="btn btn-success btn-lg" (click)="open(content,i)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-auto">
      <h5>aqui va el mapa</h5>
    </div>
  </div>
</div>


  <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Alerta de Eliminacion</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Esta seguro que quiere eliminar de forma permanente este cliente</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Eliminar</button>
	</div>
</ng-template>